

/* CUSTOMIZING THE GIVEN POP UP:  */

/* Hiding busy button choice on the creation popup */
div.toastui-calendar-popup-section:nth-child(5) {
    visibility: hidden;
    display:none;
}


/* Hiding the all day checkbox on the creation pop up */
div.toastui-calendar-popup-section-item:nth-child(4) {
    visibility: hidden;
    display:none;
}

/* Hiding milestone */ 
div.toastui-calendar-panel:nth-child(2) {
  visibility: hidden;
  display: none;  
}

/* hiding the location input box in the event creation popup */ 
form div.toastui-calendar-form-container div.toastui-calendar-popup-section:nth-child(3) {
    visibility: hidden;
    display:none;
}

/* hiding the day view part of the calendar, should be hidden in javascript!
div.toastui-calendar-panel:nth-child(8) {
    visibility: hidden;
    display:none;
}*/



/* Hide the Task*/
.toastui-calendar-task {
    visibility: hidden;
    display:none;
}



/* My customization */ 

/*
Six colors: 
000000
14213D
FCA311
E5E5E5
FFFFFF
*/

/* secondary color: #17d0d5   */



/* Unique */ 


.textCTG {
    opacity: 0;
}

.rangeShown {
    font-weight:bold;
    color:black;
}

.appPic {
    width: 100%;
    height:100%;
    filter:brightness(50%);
    object-fit: cover;
    object-position: 100% 50%;

}

.head-text-section {
    position: absolute;
    top:40%;
    left:50%;
    width:75%;
    transform: translate(-50%, -50%);
}
.head-section-title {
    font-family: 'Montserrat';
    text-align:center;
    font-style: normal;
    font-weight: 500; /* 700 */
    font-size: 7rem;
    line-height: 60px;
    color: white;
    line-height: 1.12em;
    
}

.head-section-comment {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: white;
    font-style: italic;
    text-align:center;

}

.head-section {
    position:relative;
    width:100%;
    height: 100vh;
    padding: 50px 60px 60px 60px;
    background: #405D47; 
    padding: 0;
    overflow:hidden;
}

@media (max-width: 768px) {
    .head-section-title {
        font-size: 75px;
    }
}

