
/* common to all pages: */


.navbar-color {
    border-color: transparent !important;
    background-color: #FCA311;
}
.navbar-nav {
    padding: 0px 15px;
}
.navbar{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
}

.bottomPadding {
    padding-bottom: 35px;
}
.upPadding {
    padding-top: 35px;
}

.section-padding {
    padding: 40px 0px;
    
}


a:hover,
a:focus,
a:active,
a.active {
    color: white !important;
}

a {
    color: black !important;
}


/* NOT COMMON to all pages */

