
/* common to all pages: */



/* NOT COMMON to all pages */

.verticalSpacerLine {
    opacity: 50%;
    height: 25vh;
    display: block;
    width: 1%;
    border-left: 4px dotted black;
}

.about-title {
    font-family: 'Montserrat';
    text-align:center;
    font-style: normal;
    font-weight: 700;
    font-size: 125px;
    line-height: 73px;
    color:#405D47 ;
    line-height: 1.12em;
    
}

.small-spacer {
    display: block;
    height: 20vh;
}

.container1-title {
    padding-top: 10px;
    font-family: 'Montserrat';
    text-align:center;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 73px;
    color:white ;
    line-height: 1.12em;
    opacity: 0;
 
    
}

.animatedContainer {
    width: 100px;
    height: 100px;
    transform: rotate(45deg); 
    background-color: #677865;
    overflow: hidden;
    border-radius: 8px;

}

.trial {
    width: 100vh;
    background-color:black;
}