
/* common to all pages: */



/* NOT COMMON to all pages */
body {
    margin: 0;
    padding: 0;
}

.about-background {
    position:fixed;
    height: 100%;
    width: 100%;
}
.about-background-image {
    height:100%;
    width:100%;
    object-fit: cover;
    filter: brightness(40%);
    object-position: center top;
   
}


.verticalSpacerLine {
    opacity: 50%;
    height: 25vh;
    display: block;
    width: 1%;
    border-left: 10px dotted white;
}

.about-title {
    font-family: 'Montserrat';
    text-align:center;
    font-style: normal;
    font-weight: 700;
    font-size: 125px;
    line-height: 73px;
    color:white ;
    line-height: 1.12em;
    
}


.container-content {
    opacity:0
}

.container-title {
    font-size: 60px;
    padding-top: 35px;
    font-family: 'Montserrat';
    text-align:center;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
    color: black ;
    line-height: 1.12em;
 
    
}


.container-comment {
    font-size: 30px;
    padding-top: 15px;
    font-family: 'Montserrat';
    text-align: justify;
    font-style: normal;
    font-weight: 60;
    line-height: 73px;
    color: black ;
    line-height: 1.12em;
    padding-right: 60px;
    padding-left: 60px;
    font-style:italic;

    
}

.animatedContainer {
    width: 100px;
    height: 100px;
    transform: rotate(45deg); 
    background-color: white ; /*#1F4128 */
    opacity: 80%;
    overflow: hidden;
    border-radius: 8px;

}

.trial {
    width: 100vh;
    background-color:black;
}

@media (max-width: 768px) {
    .container-title {
        font-size: 50px;
    }

    .container-comment {
        font-size: 20px;

    }
}